/* You can add global styles to this file, and also import other style files */

@import "~@angular/cdk/overlay-prebuilt.css";

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "SF Pro Text", Roboto, -apple-system, system, sans-serif;
    color: #1f1f1f;
}
